<div class="main-container">
    <header class="header header-3">
        <div class="branding">
            <a href="./fundos" class="nav-link">
                <clr-icon shape="vm-bug"></clr-icon>
                <span class="title">Projeto Teste</span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="cog"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="./fundos" clrDropdownItem>Perfil</a>
                    <a href="./fundos" clrDropdownItem>Preferências</a>
                    <a href="./fundos" clrDropdownItem>Sair</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <nav class="sidenav">

        </nav>
    </div>
</div>